.myBG{
    height: 100vh;
    background: url("../assets/bg/bg1.png");
    background-size: cover;
    background-repeat: none;
    background-position: top center;
}

/* .myBG2{
    height: 100vh;
    background: url("../assets/bg/bg2.png");
} */

.navFont{
    font-size: 20px;
}

.title1{
    font-size: 3rem;
    font: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.title2{
    font-size: 5rem;
    font-weight: 400;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.title3{
    font-size: 2rem;
    font: 400;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.title4{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.beranda{
    height: auto;
    display: flex;
    justify-content: end;
    align-content: end;
}

/* BERANDA 2 CSS */
.content{
    height: 100vh;
}

.pageBG{
    background: url("../assets/bg/bg2.png");
    background-size: cover;
    background-repeat: none;
    background-position: top center;
}

.beranda2{
    height: 100vh;
    display: flex;
    justify-content: end;
    align-content: end;
}

.title5{
    color: black;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 4px;
}

.title6{
    color: black;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-align: end;
}

.title7{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 4px;
    text-align: end;
}

.title8{
    color: black;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-align: end;
}

.buttonBeranda2{
    align-items: flex-end;
}